@media (max-width: 480px) {
    //##########
    // Navbar
    //##########
    nav {
        flex-direction: row;
        height: auto;
        padding: 2rem;

        .logo {
            flex-direction: row;
            align-items: center;
        }

        .nav-menu {
            display: none;
        }

        .nav-actions {
            flex-direction: row;
            align-items: center;
        }
        .dark-mode-toggle {
            margin-right: 1rem;
            margin-bottom: 0;
        }

        .mobile-menu-toggle {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
    //##########
    // Header
    //##########
    header {
        #hero {
            flex-direction: column; /* Stack items vertically on mobile */
            padding: 0 20px; /* Adjust padding for mobile */

            .hero-content {
                padding-right: 0; /* Remove right padding on mobile */
                padding-left: 0; /* Ensure no left padding on mobile */
                text-align: left; /* Ensure text is aligned to the left */
            }

            .hero-image {
                display: none !important;
            }

            .discover-more {
                left: 20px; /* Adjust position for mobile */
            }
        }
    }
    //##########
    // Partners
    //##########
    .partner-logos {
        display: none !important;
    }

    //##########
    // Features
    //##########
    #features {
        .features-item {
            img {
                display: none !important;
            }
        }
    }

    //##########
    // Testimonials
    //##########

    //##########
    // Faq
    //##########

    //##########
    // Subscribe
    //##########

    //##########
    // Footer
    //##########
}
